/* start display */
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.align-c{
    align-items: center;
}
.fd-row{
    flex-direction: row;
}
.p-relative{
    position: relative;
}
/* end display */
/* start colors */
.bg-white{
    background-color: white;
}
.bg-gray{
    background-color: #f6f6f6;
}
/* end colors */
/* start padding + margine + boarder */
.p-20{
    padding: 20px;
}
.m-20{
    margin: 20px;
}
.rad-10{
    border-radius: 10px;
}
/* end padding + margine + boarder */
/* start text */
.txt-c{
    text-align: center;
}
.fw-n{
    font-weight: normal;
}
/* start text */